.footer {
    position: relative;
    background-color: #E8491D;
    padding: var(--space2x) 0;
    width: 100%;
    height : 100%;
}

.footer__logo {
    margin-top : 10px;
    margin-left: 10px;
}

.divider {
    width: 95%;
    text-align: center;
}

.footer__text {
    text-align: center;
}

.footer__link {
    font-weight: bold;
    text-decoration: underline;
}

.list-unstyled {
    position : absolute;
    color : #000000;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}