.main-header {
    top: 0;
    left: 0;
    width: 100%;
    height : 75px;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    background-color: #004080;
}

.header__logo {
    display: block;
    left: 13px;
    position: absolute;
    top: 25px;
}

.menu-icon img {
    height: 16px;
    left: 333px;
    position: absolute;
    top: 27px;
    width: 24px;
}

.header__menu {
    display: none;
}