.reserve-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Ajoutez une transition pour une animation fluide */
}